    <footer>
        Projeto Integrador Senac -  Desenvolvimento da Aplicação
    </footer>
    
    <script src="/javascripts/build/aplication.min.js" type="text/javascript"></script>
    
    </body>
</html>