<!DOCTYPE html>
<html lang="en">
<head>    
    <title> Projeto Integrador</title>
    <link rel="stylesheet" href="/stylesheets/sassbuild/aplication.min.css">
    <meta name="viewport" content="width=device-width,user-scalable=no">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/usuarios">Usuarios</a></li>
            <!-- <li><a href="/tutor">Paginas</a></li>             -->
        </ul>
    </nav>
    
