<%- include('../shared/header') %>

<div class="container mt-5" >
  <ul>
    <h4> Home projeto integrador </h4>
    <li><a href="/usuarios">Cadastro de Usuarios</a></li>
  </ul>
</div>

<%- include('../shared/footer') %>
