<%- include('../shared/header') %>

<div class="container">
    <h1>"<%= title %>"</h1>
    <ul>"<%= title %>"</h1>
      <h1> Home projeto integrador </h1>
      <li><a href="/usuarios">Cadastro de Usuarios</a></li>
      <li><a href="/tutores">Cadastro de Tutor</a></li>
    </ul>
</div>

<%- include('../shared/footer') %>
